article {
  width: 1000px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 20px;

  button {
    width: 100px;
  }
  .example1 {
    .object1 {
      width: 50px;
      height: 50px;
    }
  }
  .example2 {
    .object2 {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: blue;
    }
  }
  .example3 {
    .object3 {
      width: 150px;
      //transform: translateX(200px);
    }
  }
}
