.object1 {
  width: 200px;
  height: 100px;
  background-color: greenyellow;
}
.object2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(90, 140, 235);
  border: 3px solid black;
}
