/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: beige;
  background-color: rgb(22, 22, 22);
}
article {
  width: 1000px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 20px;
}
